* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  letter-spacing: 1.2px;
}

.container {
  max-width: 550px;
  margin: 0 auto;
}

/* HEADER */

header {
  background-color: #F55A5A;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-title {
  font-weight: 400;
  font-size: 15px;
}

.header-icon {
  font-size: 25px; 
  margin-right: .3em;
}

